# Python
__pycache__/
*.py[cod]
.venv/

# PyCharm / IDE
.idea/

# CMake / C++
cpp/build/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Rust
rust/target/
rust/**/target/

# OS
.DS_Store
